body{
  font-family: "Ranchers", Arial, Helvetica, sans-serif;
  background-color: skyblue
}
button {
   background-color: orange;
   padding: 10px;
   border: 1px solid grey;
   border-radius: 5px;
}

.space {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  display: flex;
    justify-content: center;
    align-items: center;
}

.row {
  display: flex;
  justify-content: center;
}

h1, h2, p {
  text-align: center;
}

.hidden {
  display: none;
}

#win-container {
  border: 3px solid black;
  border-radius: 5px;
  padding: 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
#win-container button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.token {
  max-width: 185px;
  max-height: 185px;
}

* {
  cursor: url("./img/uni.cur"), pointer;
}
